# ignore .pth
*.pth
# ignore .vscode
.vscode
# ignore .zip
*.zip
# ignore .mat
*.mat
*output*
*cpython*
__pycache__/
# ignore dataset
*dataset*/
# ignore ckpt
*ckpt*/
# ignore output
*output*/
model/**/*.pyc
